.logo {
    margin-top: 100px;
    max-width: 20%;
    max-height: 20%;
    min-width: 250px;
    min-height:150px;
    margin-bottom: 25px;
}

.registration_logo {
    max-width: 20%;
    max-height: 20%;
    min-width: 250px;
    min-height:150px;
    margin-bottom: 75px;
}

.input-text {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
}

form{
    padding-left: 33%;
    padding-right: 33%;
    padding-top: 1%;
}

button{
    width: 100%;
}

p{
    margin-left: 2px;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    margin-right: 15px;
    right:0;
}

.glyphicon-btn {
    padding:0px;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon  { right:  0px;}

/* add padding  */
.left-addon input  { padding-left:  40px; }
.right-addon input button { padding-right:  40px; }

.steps{
    margin-top: -40px;
    margin-bottom: 40px;
    width: 25%;
    min-width: 300px;
    min-height: 80px;
}

.row div{
    margin-bottom: 0.5%;
}

 .input-container input {
     border: none;
     box-sizing: border-box;
     outline: 0;
     padding: .75rem;
     position: relative;
     width: 100%;
 }

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

